{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/commentstyle.css' %}">
</head>
<body>
    
    {% for comment in comments %}
        <div class="comment">
            <h3>{{ comment.user.name }} </h3>
            <small>{{ comment.date }}</small>
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}
    {% block write %}{% endblock %}
</body>
</html>