{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Epilogue&family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <link href="{% static 'css/dinamic.css' %}" rel="stylesheet">
  <link href="{% static 'css/header.css' %}" rel="stylesheet">
  <link href="{% static 'css/footer.css' %}" rel="stylesheet">
  <link href="{% static 'css/section.css' %}" rel="stylesheet">
  <link href="{% static 'css/media.css' %}" rel="stylesheet">
  <title>ELITE TUNING</title>
</head>
<body>
  <header>
    <div class="header_iner">
      <div class="conteiner">
        <div class="burger">
          <span></span>
        </div>
          <div class="header_menu">
            <nav>
              <ul>
                <li><a href="{% url 'login' %}">главная</a></li>
                <li><a href="services.html">наши услуги</a></li>
                <li><a href="#">о нас</a></li>
                <li><a href="{% url 'comments' %}">отзывы</a></li>
              </ul>
            </nav>
            <div class="input">
              {% if user.is_authenticated %}
                <p>{{ user }}</p>
                <a href="{% url 'exit' %}">выйти</p>
              {% else %}
                <a href="{% url 'login' %}">вход</a>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
  </header>
  <section>

<!--СЛОГАН-->
  <article class="intro">
    <div class="logo">
      <h1>Elite Tuning</h1>
      <div class="direction_rhombus"><!--РОМБЫ-->
        <div class="rhombus"></div>
        <div class="rhombus"></div>
        <div class="rhombus"></div>
        <div class="rhombus"></div>
      </div>
      <span>
        <p>
          Мы делаем автомобили лучше: <br>
          более мощными,более динамичными, <br>более яркими и абсолютно
          индивидуальными
        </p>
      </span>
      <div class="services_button">
        <a href="#n1" class="but" type="button">our work</a>
      </div>
    </div>
  </article>

<!--ДОСТИЖЕНИЯ-->
    <article class="conteiner our_achievements">
      <div class="out">
        <h2>Наши достижения от кубка <br>россии до чемпионатов мира</h2>
        <div class="direction_rhombus our"><!--РОМБЫ-->
          <div class="rhombus"></div>
          <div class="rhombus"></div>
          <div class="rhombus"></div>
          <div class="rhombus"></div>
        </div>
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Habitant tincidunt aliquam tincidunt pretium sodales. 
            Tristique odio pellentesque et tincidunt posuere arcu purus 
            lobortis risus. Urna, ut amet odio orci magnis praesent ultrices. 
            Praesent malesuada lacus tellus tristique sit at. 
            Sed viverra nulla nam arcu, non iaculis pretium, volutpat. 
          </p>
        </div>
      </div>
      <div class="border_place">
      <div class="glav">
          <div class="border">  
            <strong><span>#</span>1<br></strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales. 
            </p>
          </div>
          <div class="border">  
          <strong><span>#</span>3<br></strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales.
          </div>
          <div class="border">  
          <strong><span>#</span>5<br></strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales.
          </div>
          <div class="border">  
          <strong><span>#</span>2<br></strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales.
          </div>
        </div>
        <div class="mesto_two">
          <div class="border">  
          <strong><span>#</span>8<br></strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales.
            </p>
          </div>
          <div class="border">  
          <strong><span>#</span>4<br></strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales.
            </p>
          </div>
          <div class="border">  
          <strong><span>#</span>1<br></strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales. 
            </p>
          </div>
          <div class="border">
            <div class="items">
              <img src="{% static 'img/items_cubok.png' %}" class="cubok" rel="cubok">
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Habitant tincidunt aliquam tincidunt pretium sodales. 
            </p>
          </div>
        </div>
      </div>
  </article>

<!--ИНФОРМАЦИОННЫЕ КАРТИНИКИ-->
  <article id="n1" class="conteiner info_car">
    <div>
      <h2>галерея работ</h2>
    </div>
    <div class="direction_rhombus"><!--РОМБЫ-->
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
    </div>
    <div class="achievements">
      <div class="img_achievements">
        <img src="{% static 'img/car1.png' %}" width="100%">
        <div class="info_achievements">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Habitant tincidunt aliquam tincidunt pretium sodales.</p>
        </div>
      </div>
      <div class="img_achievements">
        <img src="{% static 'img/car2.png' %}" width="100%">
        <div class="info_achievements">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Habitant tincidunt aliquam tincidunt pretium sodales.</p>
        </div>
      </div>
      <div class="img_achievements">
        <img src="{% static 'img/car3.png' %}" width="100%">
        <div class="info_achievements">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Habitant tincidunt aliquam tincidunt pretium sodales.</p>
        </div>
      </div>
    </div>
  </article>

<!--ИНФОРМАЦИЯ ЧТО У НАС ЕСТЬ (ЛУЧШИИ МАТЕРИАЛЫ, ЛУЧШИЕ МАСТЕРА, ГАРАНТИЯ)-->
  <article class="conteiner info_terms">
    <div class="git1">
    <div class="info_text">
      <div class="terms materials">
        <img src="{% static 'img/items_company.png' %}">
        <h3>Материалы от лучших компаний</h3>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Habitant tincidunt aliquam tincidunt pretium sodales.
        </p>
      </div>
      <div class="direction_rhombus our"><!--РОМБЫ-->
        <div class="rhombus"></div>
        <div class="rhombus"></div>
        <div class="rhombus"></div>
        <div class="rhombus"></div>
      </div>
    </div>
    <div class="info_text">
      <div class="terms masters">
        <img src="{% static 'img/items_Experienced_craftsmen.png' %}">
        <h3>Опытные мастера</h3>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Habitant tincidunt aliquam tincidunt pretium sodales.
        </p>
      </div>
      <div class="direction_rhombus our"><!--РОМБЫ-->
        <div class="rhombus"></div>
        <div class="rhombus"></div>
        <div class="rhombus"></div>
        <div class="rhombus"></div>
      </div>
    </div>
    <div class="info_text">
      <div class="terms guarantee">
        <img src="{% static 'img/items_guarantee.png' %}">
        <h3>Гарантия на все виды работы</h3>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Habitant tincidunt aliquam tincidunt pretium sodales.
        </p>
      </div>
    </div>
  </div>
  </article>
</section>
<footer>
  <div class="conteiner">
  <p class="footer">
    2022 © Est et viverra pellentesque pharetra lorem proin in. Vitae magna at tempus commodo.
  </p>
  <div class="social_network">
    <img src="{% static 'img/vk.png' %}" width="30px" height="30px">
    <img src="{% static 'img/instagram.png' %}" width="30px" height="30px">
  </div>
</div>
</footer>
<script src="script.js"></script>
</body>
</html>