.header_menu li::after   {  /*ссылки при нажатии и наведении*/
  background-color: white; 
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;

}

.header_menu li:hover:after,
.header_menu li:focus:after { /*ссылки при нажатии и наведении*/
    width: 100%;
}

.but:hover {
  background-color: rgb(253, 107, 107);
}