{% extends "registration/base.html" %}

{% block title  %} Вход {% endblock %}

{% block content %}
<div>  
  <form method="post">
    {% csrf_token %}
    
    <div class="form-error">{{ form.non_field_errors }}</div>
    
    {% for f in form %}
    <p><label class="" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    
    <button type="submit">Войти</button>

  </form>
  <a href="{% url 'register' %}">Зарегистрироваться</a>
</div>
{% endblock %}
