<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/LoginRegistration.css" rel="stylesheet">
  <title>Document</title>
</head>
<body class="page">
  <div class="form">
    <h1>Вход</h1>
    <div class="input_form">
      <input type="text" placeholder="Логин">
    </div>
    <div class="input_form">
      <input type="password" placeholder="Пароль">
    </div>
    <div class="but">
      <div class="input_form">
        <input type="submit" value="регистрация">
      </div>
      <div class="input_form">
        <input type="submit" value="войти">
      </div>
    </div>
    <a href="index.html">назад</a>
    <a href="#">забыли пароль</a>
  </div>
  <script src="script.js"></script>
</body>
</html>